.header {
  background-color: pink;

  padding: 15px 30px;
  color: skyblue;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logo:hover{
  color: rgb(34, 107, 35);
}

.nav-links a {
  color: rgb(0, 0, 0);
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {

 color: rgb(34, 107, 35);
 border-radius: 10px;

}
